.home__profile-content {
  display: grid;
  grid-template-columns: 1fr;
  gap: 10px;
  padding: 5px;
  margin-top: 10px;
}

.home__helper-box {
  background-color: #bfbbc9;
  border-radius: 0.3cm;
  padding: 20px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  margin-top: 185px;
}

.home__helper-box:hover {
  background-color: #cac6d6;
}

.home__user-list {
  background-color: #555a9e92;
  padding: 10px;
  overflow: auto;
}

@media (max-width: 768px) {
  .home__profile-content {
    grid-template-columns: 1fr;
  }
  .home__helper-box,
  .home__user-list {
    margin-bottom: 10px;
  }
}
