.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.profile-container {
  margin-top: 160px;
  padding: 2em;
  display: flex;
  justify-content: center;
}

.profile-form {
  max-width: 500px;
  width: 100%;
  background-color: #f1f1f1;
  padding: 2em;
  border-radius: 8px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
}

.form-group {
  margin-bottom: 1em;
}

.form-group textarea {
  width: 100%;
  padding: 0.75em;
  border: 1px solid #ccc;
  border-radius: 4px;
  height: 150px; /* Change this value as needed */
  resize: vertical; /* Allows the user to resize the textarea vertically */
}

.form-group label {
  display: block;
  margin-bottom: 0.5em;
  font-weight: bold;
}

.form-group input,
.form-group select {
  width: 100%;
  padding: 0.75em;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.submit-button,
.logout-button {
  width: 100%;
  padding: 0.75em;
  background-color: #007bff;
  border: none;
  color: white;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.2s;
}

.submit-button:hover,
.logout-button:hover {
  background-color: #0056b3;
}

.image-preview-container {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin-top: 10px;
  margin-bottom: 40px;
}

.image-preview {
  width: 100px; /* Control the size of the preview */
  height: 100px;
  display: flex;
  flex-direction: column;
  align-items: center; /* Centers the content horizontally */
}

.image-preview img {
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
  border-radius: 5px;
}

.image-preview button {
  margin-top: 5px; /* Add space between the image and the button */
  background-color: rgb(2, 2, 2);
  color: white;
  border: none;
  padding: 5px;
  cursor: pointer;
  border-radius: 5px;
}

@media (max-width: 600px) {
  .profile-container {
    padding: 1em;
  }

  .profile-form {
    padding: 1em;
  }

  .form-group input,
  .form-group select {
    padding: 0.5em;
  }
}
